@font-face {
    font-family: 'Inter';
    src: url('fonts/InterDisplay-Regular.woff2') format('woff2'),
         url('fonts/InterDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/InterDisplay-Medium.woff2') format('woff2'),
         url('fonts/InterDisplay-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/InterDisplay-Bold.woff2') format('woff2'),
         url('fonts/InterDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: inter, sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #011e32;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Änderung von center zu flex-start */
    height: 100vh;
    overflow: auto;
}

h1 {
    color: #E2DFD0;
    text-align: left; /* Links ausrichten */
    font-size: 18px; /* Angepasste Schriftgröße */
    padding: 10px 0 0;
    line-height: 80%;
    margin-bottom: 0; /* Entfernt den unteren Abstand */
}

h2 {
    color: #E2DFD0;
    text-align: left; /* Links ausrichten */
    font-size: 28px; /* Angepasste Schriftgröße */
    padding: 10px 0 0;
    margin-top: 0; /* Entfernt den oberen Abstand */
}

#sensor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1000px;
    margin-top: 40px;
}

.sensor-tile {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.sensor-tile:hover {
    transform: translateY(-5px);
}

.sensor-title {
    font-size: 16px;
    font-weight: 500;
    color: #1f001d;
    align-self: flex-start;
}

.sensor-value {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    display: block;
}

.sensor-on {
    background-color: #F44336; /* Rot */
    color: #000; /* Dunkle Schrift */
}

.sensor-off {
    background-color: #4CAF50; /* Grün */
    color: #000; /* Dunkle Schrift */
}
